body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    font-family: 'Cambay', sans-serif;
}

body.home {
    background-repeat: no-repeat;
    background-size: cover;
    background: url(/img/home-layer.png) fixed, url(/img/7.jpg) fixed;
}

.topbar {
    border-bottom: 1px solid #e1e8ed;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    -webkit-box-shadow: 0 6px 6px -6px #818181;
    -moz-box-shadow: 0 6px 6px -6px #818181;
    box-shadow: 0 6px 6px -6px #818181;
    margin-bottom: .5em;
}

h1 {
    margin: auto;
    line-height: 1.8;
    text-align: center;
    font-family: 'Emblema One', sans-serif;
    color: deepskyblue;
    font-size: 2.2em;
}

h2.home, #notice {
    text-align: center;
    margin-bottom: 1em;
    color: #fff;
    font-size: 4em;
    text-shadow: 0 3px 4px #444;
    font-family: Arvo;
}

h2.welcome {
    text-align: center;
    margin-bottom: 1em;
    font-size: 3em;
    text-shadow: 0 2px 2px #fff;
    font-family: Arvo;
}

#existing-user>input[type="email"], #existing-user>input[type="password"] {
    width: 38%;
    text-align: center;
    font-size: 1em;
}

#existing-user>label {
    line-height: 2.5;
    margin-right: .5em;
    margin-left: 1.5em;
}

a {
    text-decoration: none;
}

main {
    width: 1000px;
    margin: auto;
    margin-bottom: 4em;
}

.top-header {
    width: 1000px;
    margin: auto;
    text-align: center;
}

.welcome-header {
    width: 1000px;
    margin: auto;
    text-align: center;
    color: deepskyblue;
}

nav {
    padding-top: 15px;
    position: absolute;
    right: 0;
}

.nav_links {
    display: inline-block;
    color: black;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 15px;
}

.sign-in, .register {
    background-color: #f5f5f5;
    padding-bottom: 1em;
    padding-top: .5em;
    padding-right: .5em;
    margin: auto;
    background: transparent;
    text-align: center;
    display: inline-block;
}

.bottombar {
    text-align: center;
    margin-top: 3em;
}

.sign-in a, .register a, .list-button a {
    background-color: #fff;
    padding: 5px 15px 1px 14px;
    border-radius: 6px;
    border: 1px solid skyblue;
    box-shadow: 0 0 4px 0px #efefef;
    text-decoration: none;
    margin-right: 1em;
    box-shadow: 0 0 30px -7px rgb(0, 0, 0);
    -webkit-box-shadow: 0 0 30px -7px rgb(0, 0, 0);
    -moz-box-shadow: 0 0 30px -7px rgb(0, 0, 0);
    margin-left: 1em;
}

#existing-user {
    display: flex;
    margin: auto;
}

#new-user {
    width: 67%;
    text-align: right;
}

.sign-in-form, .sign-up-form, .list-room-form {
    padding: 3em;
    text-align: center;
    background: #fff;
    margin: 2em;
    border: 1px solid skyblue;
    box-shadow: 0 0 30px -7px rgb(0, 0, 0);
    -webkit-box-shadow: 0 0 30px -7px rgb(0, 0, 0);
    -moz-box-shadow: 0 0 30px -7px rgb(0, 0, 0);
}

.sign-in-form input[type="text"], .sign-in-form input[type="password"] {
    width: 25%;
    font-size: 100%;
    padding: 5px;
    margin-right: 1em;
    margin-left: 5px;
}

.sign-up-form input[type="text"],
.sign-up-form input[type="password"],
.sign-up-form input[type="email"],
.sign-up-form input[type="text"],
.sign-up-form input[type="password"] {
    width: 40%;
    font-size: 100%;
    padding: 5px;
    margin-right: 1em;
    margin-left: 5px;
    margin-bottom: .5em
}

.list-room-form input[type="text"],
.list-room-form input[type="password"] {
    width: 75%;
    font-size: 100%;
    padding: 5px;
    margin-right: 1em;
    margin-left: 5px;
    margin-bottom: .5em;
}

#list-room>input[type="number"] {
    font-size: 1em;
    margin-right: 1em;
    width: 43%;
}

input[type="submit"] {
    font-size: 1em;
}

#list-room input {
    margin-bottom: 1.5em;
}

textarea#address, textarea#description {
    width: 75%;
    height: 100px;
    color: black;
    font-size: 1em!important;
    margin-right: 1em;
}

.list-room-form {
    text-align: right;
}

form#list-room {
    margin-right: 12%;
}

#list-room > label {
    margin-right: 10px;
    vertical-align: top;
}

main.rooms {
    text-align: center;
}

h2, h3 {
    text-align: center;
    margin-bottom: 1em;
}

article.rooms {
    border: 1px solid #e1e8ed;
    color: skyblue;
    cursor: pointer;
    position: relative;
    min-height: 51px;
    padding: 1em;
    font-size: 1.2em;
    background-color: #ffffff;
    margin-bottom: 1em;
}

article.rooms:hover {
    background-color: #efefef;
    border: 1px solid skyblue;
}

.search {
    margin-top: 1em;
    margin-bottom: 1em;
}

#from, #to {
    margin-top: 1em;
    margin-right: 2em;
    font-size: 1.5em;
}

.room-name {
    font-weight: 600;
    font-family: Arvo, sans-serif;
    font-size: 1.5em;
}

.room-price {
    font-weight: 600;
    font-family: sans-serif;
}

.room {
    margin-bottom: 1em;
}

#bookings_made {
    float: left;
    width: 50%;
    text-align: left;
}

#bookings_received {
    float: right;
    width: 50%;
    text-align: right;
}

.date-selector {
    margin-left: 5%;
}

.bookings {
    margin-bottom: 2em;
    margin-top: 1em;
}
